/* Berikan comment agar team paham */
* {
    font-family: "Poppins", sans-serif;
}
.Logo{
font-family: "Poppins", sans-serif;
color: rgba(53, 86, 108, 1);
  font-weight: 700;
  font-style:normal;
  font-size: 37px;
  size: 48px;
  line-height: 72px;
  width: 166px;
  height: 72px;
}
.biru-nav {
    color: rgba(8, 65, 104, 1);
    font-weight: 500;
}