<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Icon Tab -->
  <link rel="icon" type="image/x-icon" href="../static/assets/icon.png">
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Custom css -->
  <link rel="stylesheet" href="../static/mycss.css" />
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <!-- JQuery cookie -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Custom js -->
  <script src="../static/myjs.js"></script>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <!-- Bulma modal css -->
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Helios | Blog</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar has-shadow" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="Logo px-4">
          HELIOS
        </h1>
      </a>
      <a role="button" class="navbar-burger mt-2 mr-3" aria-label="menu" aria-expanded="false"
        data-target="navbar-div-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-div-menu">
      <div class="navbar-start mx-4">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/about">
          About us
        </a>
        <a class="navbar-item has-text-weight-bold" href="/blog">
          Blog
        </a>
      </div>
      <div class="navbar-end">
        <!-- search bar -->
        <div class="mx-5 my-5">
          <div class="search">
            <span class="search-icon material-symbols-outlined" onclick="search_images_redirect()">search</span>
            <input class="search-input" type="search" placeholder="Search" onkeydown="search_images_redirect()">
          </div>
        </div>
        <div class="mx-5 my-5">
          <figure class="profile-pic sidebar-listener" id="user-profile-picture">
            <img class="is-rounded" src="../static/defaults/48x48.png">
          </figure>
        </div>
      </div>
    </div>
  </nav>
  <div class="overlay sidebar-listener"></div>
  <div class="sidebar">
    <div class="mx-5 my-4">
      <figure class="profile-pic" id="sidebar-user-profile-picture" onclick="window.location.href = '/user/{{ current_username }}'">
        <img class="is-rounded" src="../static/defaults/48x48.png">
      </figure>
      <div class="has-text-white mt-4">
        <div id="sidebar-username">
          <p class="has-text-weight-bold">username</p>
        </div>
        <!-- Max 100 character -->
        <div class="mt-4">
          <p class="is-size-7 has-text-weight-light">About</p>
          <div>
            <p id="sidebar-user-about">...</p>
            <img width="17" height="17" src="../static/assets/edit-2.svg" alt="Edit icon" onclick="window.location.href = '/user/{{ current_username }}#modal-edit-info'">
          </div>
        </div>
        <!-- Max 30 character -->
        <div class="mt-4">
          <p class="is-size-7 has-text-weight-light">Gender</p>
          <div>
            <p id="sidebar-user-gender">N/A</p>
            <img width="17" height="17" src="../static/assets/edit-2.svg" alt="Edit icon" onclick="window.location.href = '/user/{{ current_username }}#modal-edit-info'">
          </div>
        </div>
        <hr class="separator">
        <div class="mt-4" onclick="window.location.href = '/bookmarks';">
          <span class="icon-text">
            <span class="icon">
              <i class="fa-solid fa-bookmark"></i>
            </span>
            <span>Bookmarks</span>
          </span>
        </div>
        <div class="mt-4">
          <span class="icon-text" onclick="window.location.href = '/my-gallery';">
            <span class="icon">
              <i class="fa-regular fa-images"></i>
            </span>
            <span>My Gallery</span>
          </span>
        </div>
        <div class="bottom-content" onclick="logout_account()">
          <span class="icon-text">
            <span class="icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Log Out</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- upload -->
  <div class="has-text-right mb-3 mt-3">
    <button class="button is-link is-outlined mx-5 modal-button" id="upload" data-target="modal-upload">Upload</button>
  </div>
  <div id="modal-upload" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background py-5 px-5">
      <h3 class="title mb-6">Upload</h3>
      <!-- isi dalam upload -->
      <div class="field">
        <div class="file is-normal has-name" id="file-upload-images-div">
          <label class="file-label">
            <input class="file-input" type="file" id="file-input-upload">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Upload Image
              </span>
            </span>
            <span class="file-name"></span>
          </label>
        </div>
      </div>
      <div class="field">
        <label class="label">Judul</label>
        <div class="control">
          <input class="input is-link" type="text" placeholder="Judul" id="judul-upload">
        </div>
      </div>
      <div class="field">
        <label class="label">Deskripsi</label>
        <div class="control">
          <input class="input is-link" type="text" placeholder="Deskripsi" id="deskripsi-upload">
        </div>
      </div>
      <div class="field">
        <label class="label">Kategori</label>
        <div class="control">
          <div class="columns is-mobile is-multiline" id="kategori-picker-upload">
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-success" id="all-tags" onclick="toggleTags('all-tags','All');">
                All
                <button class="delete is-small" id="delete-tags-kategori-All"></button>
              </span>
            </div>
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-danger" id="teknologi-tags"
                onclick="toggleTags('teknologi-tags','Teknologi');">
                Teknologi
              </span>
            </div>
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-danger" id="hewan-tags" onclick="toggleTags('hewan-tags','Hewan');">
                Hewan
              </span>
            </div>
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-danger" id="makanan-tags"
                onclick="toggleTags('makanan-tags','Makanan');">
                Makanan
              </span>
            </div>
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-danger" id="alam-tags" onclick="toggleTags('alam-tags','Alam');">
                Alam
              </span>
            </div>
            <div class="column is-narrow">
              <span class="tag tags-list-unique is-danger" id="orang-tags" onclick="toggleTags('orang-tags','Orang');">
                Orang
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 has-text-centered" id="button-save-upload-image">
        <button class="button is-link is-outlined" onclick="upload_button()">Save</button>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <!-- Card -->
  <div class="container">
    <div class="columns is-multiline mx-4">

      {% for data in images %}
      <div class="column is-3">

        <div class="card">
          <div class="card-image modal-button" style="overflow: hidden;" data-target="modal-image-{{ data['_id']}}">
            <figure class="image is-4by3">
              <img src="{{ data['image_thumbnail'] }}" alt="Photos by {{ data['username'] }}"
                style="object-fit: cover;">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" onclick="window.location.href = '/detail/{{ data['_id'] }}?from_page=/blog?page={{curr_page}}'">{{ data['title'] }}</p>
                <p class="subtitle is-6" onclick="window.location.href = '/user/{{ data['username'] }}'">@{{ data['username'] }}</p>
              </div>
            </div>
          </div>

          <div class="content px-3 py-3">
            {{ data['deskripsi'] }}

            {% for kategori in data['kategori'].split(',') %}
            {% if kategori %}
            <a href="/?query={{ kategori }}">#{{ kategori }} </a>
            {% endif %}
            {% endfor %}
            <!-- <br> -->
            <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
          </div>
        </div>

      </div>
      {% endfor %}

    </div>
    <!-- next slide button -->
    <nav class="pagination is-centered my-4" role="navigation" aria-label="pagination">
      {% if prev_page %}
      <a href="/blog?page={{ prev_page }}" class="pagination-previous">Previous</a>
      {% else %}
      <a class="pagination-previous is-disabled">Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="/blog?page={{ next_page }}" class="pagination-next">Next page</a>
      {% else %}
      <a class="pagination-next is-disabled">Next page</a>
      {% endif %}
      <ul class="pagination-list">
        <li><a href="/blog?page=1" class="pagination-link">1</a></li>

        <li><span class="pagination-ellipsis">&hellip;</span></li>

        {% if prev_page %}
        <li><a href="/blog?page={{ prev_page }}" class="pagination-link">{{ prev_page }}</a></li>
        {% endif %}
        <li><a class="pagination-link is-current">{{ curr_page }}</a></li>
        {% if next_page %}
        <li><a href="/blog?page={{ next_page }}" class="pagination-link">{{ next_page }}</a></li>
        {% endif %}

        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a href="/blog?page={{ end_page }}" class="pagination-link">{{ end_page }}</a></li>
      </ul>
    </nav>
  </div>
  <!-- Image modal-->
  <div id="modals-image-fullscreen">
    {% for data in images %}
    <div id="modal-image-{{ data['_id'] }}" class="modal modal-fx-superScaled">
      <div class="modal-background">
        <div class="mx-4 column box bottom-content has-text-centered">
          <span class="icon" id="bookmark-icon-modals-fullscreen-{{ data['_id'] }}"
            onclick="toggleBookmark('{{ data['_id'] }}')">
            {% if data['bookmark_by_me'] %}
            <i class="fa-solid fa-bookmark has-text-link"></i>
            {% else %}
            <i class="fa-regular fa-bookmark"></i>
            {% endif %}
          </span>
          <span class="icon ml-4" id="heart-icon-modals-fullscreen-{{ data['_id'] }}"
            onclick="toggleLike('{{ data['_id'] }}')">
            {% if data['like_by_me'] %}
            <i class="fa-solid fa-heart has-text-danger"></i>
            {% else %}
            <i class="fa-regular fa-heart"></i>
            {% endif %}
          </span>
          <span class="icon ml-4" onclick="event.stopPropagation();window.location.href = '/detail/{{ data['_id'] }}?from_page=/blog?page={{curr_page}}'">
            <i class="fa-solid fa-comment"></i>
          </span>
          {% if is_superadmin or data['username'] == current_username %}
          <span class="icon ml-4" id="delete-icon-modals-fullscreen-{{ data['_id'] }}"
            onclick="deleteImage('{{ data['_id'] }}')">
            <i class="fa-solid fa-trash"></i>
          </span>
          {% endif %}
        </div>
      </div>
      <div class="modal-content is-image">
        <!-- src="{{ data['image_thumbnail'] }}" -->
        <img loading="lazy" class="lazy-load" src="{{ data['image'] }}" alt="Photos by {{ data['username'] }}">
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endfor %}
  </div>
  <!-- Bulma modal js -->
  <script src="../static/modal-fx.min.js"></script>
  <script>
    burger_function();
    $(document).ready(function () {
      const sidebar = $('#sidebar');
      const sidebarToggle = $('#sidebarToggle');

      sidebarToggle.click(function () {
        sidebar.toggleClass('is-active');
      });
      render_users_infos();
      sidebar_listener();
      file_upload_image_namer();
      from_page_backtrack_listener();
    });
  </script>
</body>

</html>