<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- Custom css -->
  <link rel="stylesheet" href="../static/mycss.css" />
  <!-- Custom js -->
  <script src="../static/myjs.js"></script>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Helios | Blog</title>
</head>

<body>  
  <!-- Navbar -->
  <nav class="navbar is-white has-shadow" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item mx-4" href="/">
        <h1 class="Logo">
          HELIOS
        </h1>
      </a>
      <a role="button" class="navbar-burger mt-4 mr-3" aria-label="menu" aria-expanded="false" data-target="navbar-div-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-div-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/about">
          About us
        </a>
        <a class="navbar-item has-text-weight-bold" href="/blog">
          Blog
        </a>
      </div>
    </div>
  </nav>

  <div class="container text-center mt-n1">
    <div class="row align-items-center">
      <div class="col">
        <!-- Card -->
        <div class="card" style="width: 18rem">
          <img src="../static/pokemon.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- Card -->
        <div class="card" style="width: 18rem">
          <img src="../static/pokemon.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia eligendi
              labore aspernatur quas incidunt saepe suscipit! Magni quisquam assumenda odio cumque dicta harum maiores,
              quam aperiam fugiat, sed, doloribus quasi!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- Card -->
        <div class="card" style="width: 18rem">
          <img src="../static/pokemon.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>