<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helios | Daftar</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Our custom JavaScript -->
    <script src="../static/myjs.js"></script>

    <style>
        h3 {
            color: #0062A359;
        }

        .text-posisi {
            margin-top: 25px;
            margin-left: 35px;
            text-align: left;
        }
    </style>
</head>

<body>
    <nav class="navbar has-shadow" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <h1 class="Logo px-4">
                    HELIOS
                </h1>
            </a>
        </div>
    </nav>
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box mx-4">
                <h3 class="has-text-weight-bold has-text-link">REGISTER</h3>
                <!-- USERNAME -->
                <div class="column">
                    <label for="username">User Name</label>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input id="username" class="input" type="text" placeholder="Username"
                                style="margin-right: 0;">
                        </div>
                        <div class="control" style="margin-right: 0;">
                            <button id="check-id" class="button is-fox">Check your
                                id</button>
                        </div>
                    </div>
                    <p id="id-taken" class="has-text-danger"></p>
                </div>

                <!-- PASSWORD -->
                <div class="column">
                    <label for="Name">Password</label>
                    <input id="password" password class="input" type="password" placeholder="Password">
                    <p id="password-checker" class="has-text-danger"></p>
                </div>

                <!-- VERIFY PASSWORD -->
                <div class="column">
                    <label for="Name">Input Password Again</label>
                    <input id="verify_password" class="input" type="password" placeholder="Password">
                    <p id="password-same" class="has-text-danger"></p>
                </div>
                <!-- CONTINUE BUTTON -->
                <div class="column">
                    <button id="continueBtn" class="button is-link is-light is-fullwidth">Continue</button>
                </div>
                <div class="has-text-centered">
                    <p class="is-size-7"> Have an account? <a href="/login" class="has-text-link">Log
                            in</a>
                    </p>
                </div>
            </div>
        </div>
        <img src="../static/Group 1.png" alt="gamabr">
    </div>

    <script>
        $(document).ready(function () {
            // memanggil function checkid_listener()
            checkid_listener()
            // memanggil function continue_button_listener()
            continue_button_listener()
            // memanggil function check_id()
            check_id()
        })
    </script>
</body>

</html>