<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Custom css -->
    <link rel="stylesheet" href="../static/mycss.css" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- JQuery cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom js -->
    <script src="../static/myjs.js"></script>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <!-- Bulma modal css -->
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Helios | Blog</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar is-white has-shadow" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="Logo px-4">
                    HELIOS
                </h1>
            </a>
            <a role="button" class="navbar-burger mt-4 mr-3" aria-label="menu" aria-expanded="false"
                data-target="navbar-div-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbar-div-menu">
            <div class="navbar-start mx-4">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item has-text-weight-bold" href="/about">
                    About us
                </a>
                <a class="navbar-item" href="/blog">
                    Blog
                </a>
            </div>
            <div class="navbar-end">
                <!-- search bar -->
                <div class="mx-5 my-5">
                    <form>
                        <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="mx-5 my-5">
                    <figure class="profile-pic sidebar-listener" id="user-profile-picture">
                        <img class="is-rounded" src="../static/defaults/48x48.png">
                    </figure>
                </div>
            </div>
        </div>
    </nav>
    <div class="overlay sidebar-listener"></div>
    <div class="sidebar">
        <div class="mx-5 my-4">
            <figure class="profile-pic" id="sidebar-user-profile-picture">
                <img class="is-rounded" src="../static/defaults/48x48.png">
            </figure>
            <div class="has-text-white mt-4">
                <div id="sidebar-username">
                    <p class="has-text-weight-bold">username</p>
                </div>
                <!-- Max 100 character -->
                <div class="mt-4">
                    <p class="is-size-7 has-text-weight-light">About</p>
                    <div>
                        <p id="sidebar-user-about">...</p>
                        <img width="17" height="17" src="../static/assets/edit-2.svg" alt="Edit icon">
                    </div>
                </div>
                <!-- Max 30 character -->
                <div class="mt-4">
                    <p class="is-size-7 has-text-weight-light">Gender</p>
                    <div>
                        <p id="sidebar-user-gender">N/A</p>
                        <img width="17" height="17" src="../static/assets/edit-2.svg" alt="Edit icon">
                    </div>
                </div>
                <hr class="separator">
                <div class="mt-4">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-bookmark"></i>
                        </span>
                        <span>Bookmarks</span>
                    </span>
                </div>
                <div class="mt-4">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-regular fa-images"></i>
                        </span>
                        <span>My Gallery</span>
                    </span>
                </div>
                <div class="bottom-content">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </span>
                        <span>Log Out</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-flex mt-5 ml-6">
        <figure class="profile-pic image is-96x96 mr-3">
            <img class="is-rounded" src="../static/defaults/Ellipse 2.png">
        </figure>
        <div>
            <p class="has-text-weight-bold mt-2 ml-6">Abatron</p>
            <p class="mt-5 ml-6">Saya akan melindungi dunia dari bahaya.</p>
        </div>
    </div>
    <hr class="separator">
    <div class="columns mx-6 is-centered is-multiline">
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
        <div class="column is-3">
            <figure class="image is-square">
                <img class="image" src="../static/defaults/Jungle_Expanse_02_3840x2160.png" alt="gambar Bookmarks">
            </figure>
        </div>
</body>

</html>