<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helios | Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../static/mycss.css">
    <script src="../static/myjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>

<body>
    <h1>Header</h1>
    <div class="container">
        <div class="grid container-masonry" id="gallery">
            {% for data in images %}
            <!-- Gallery items will be dynamically added here -->
            <div class="card my-2 mx-2">
                <div class="card-image">
                    <img src="{{ data['image'] }}" alt="Photos by {{ data['username'] }}" style="width: 200px;">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Placeholder images untuk bikin rame doang
            load_images();
            layout_masonry();
        });
    </script>

</body>

</html>