<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helios | Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Our custom JavaScript -->
    <script src="../static/myjs.js"></script>

    <style>
        h3 {
            color: #0062A359;
        }

        .text-posisi {
            margin-top: 25px;
            margin-left: 35px;
            text-align: left;
        }
    </style>
</head>

<body>
    <nav class="navbar has-shadow" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <h1 class="Logo px-4">
                    HELIOS
                </h1>
            </a>
        </div>
    </nav>
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box" id="login-box">
                <h3 class="has-text-weight-bold has-text-link">LOGIN</h3>
                <div class="column">
                    <label for="email">User Name </label>
                    <input class="input" type="text" placeholder="Username" id="username" onkeydown="enter_listener_login()">
                </div>
                <div class="column">
                    <label for="Name">Password</label>
                    <input class="input" type="password" placeholder="Password" id="password" onkeydown="enter_listener_login()">
                </div>
                <div class="column">
                    <button id="loginBtn" class="button is-link is-light is-fullwidth" type="submit"
                        href="#">Login</button>
                </div>
                <div class="has-text-centered">
                    <p class="is-size-7"> Don't have an account? <a href="/daftar" class="has-text-link">Sign
                            up</a>
                    </p>
                </div>
            </div>
        </div>
        <img src="../static/Group 1.png" alt="gamabr">
    </div>
    <script>
        $(document).ready(function () {
            enter_listener_login()
            login_button_listener()
            // memanggil function enter_listener()
        });
    </script>
</body>

</html>